@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
body{
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
}
#container{
	position: relative;
}
#wrapper{
	width: 100%;
	position: absolute;
	text-align: center;
}
#words{
	pointer-events:none;
	font-family: 'Calligraffitti', cursive;
	position: absolute;
	width: 100%;
	padding: 200px 0 0 0;
	font-size: 2.8em;
	color: white;
	text-align: center;
}
#words p{
	display: none;
}
#words p#w1{
	display: block;
}
#words p span{
	display: block;
	font-size: .4em;
}
#UI{
	color: white;
	width: 200px;
	cursor: pointer;
	position: relative;
	display: none;
}
#behaviours{
	margin-top: 10px;
}
#behaviours label span{
	display: inline-block;
	font-size: .7em;
}
#behaviours input{
	width: 50px;
	margin-bottom: 10px;
	margin-top: -20px;
}